@media (max-width: 600px) {
	.pic1 {
		width: 40%;
	}
	.pic2 {
		width: 30%;
		top: 25%;
		left: 20%;
	}	
	.pic3 {
		width: 28%;
		top: 25%;
		left: 50%;
	}
	p {
		width: 45%;
		top: 10%;
		left: 41%;
		font-size: 10px;
		text-align: center;
	}
	button {
		display: block;
		margin: 10% auto;
		width: 150px;
		height: 40px;
		font-size: 20px;
	}
	h1 {
		font-size: 30px;
	}
	
	input {
		display: block;
		width: 150px;
		margin: 50% auto 0;
	}
}